//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../blocks/alert/alert.pug
include ../blocks/baron/baron.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/btn/btn.pug
include ../blocks/burger/burger.pug
include ../blocks/card/card.pug
include ../blocks/close/close.pug
include ../blocks/code/code.pug
include ../blocks/comment/comment.pug
include ../blocks/embed-responsive/embed-responsive.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-file/field-file.pug
include ../blocks/field-num/field-num.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-range/field-range.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/like-button/like-button.pug
include ../blocks/rate-button/rate-button.pug
include ../blocks/range-slider/range-slider.pug
include ../blocks/footer-copyright/footer-copyright.pug
include ../blocks/footer-descrip/footer-descrip.pug
include ../blocks/footer-menu/footer-menu.pug
include ../blocks/footer-sub/footer-sub.pug
include ../blocks/form/form.pug
include ../blocks/label/label.pug
include ../blocks/loader/loader.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/modal/modal.pug
include ../blocks/off-canvas/off-canvas.pug
include ../blocks/or/or.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/pagination/pagination.pug
include ../blocks/progress/progress.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/social/social.pug
include ../blocks/sprite-svg/sprite-svg.pug
include ../blocks/table/table.pug
include ../blocks/table-responsive/table-responsive.pug
include ../blocks/tabs/tabs.pug
include ../blocks/to-top/to-top.pug
include ../blocks/uikit-block/uikit-block.pug
include ../blocks/footer-creative/footer-creative.pug
include ../blocks/colors-block/colors-block.pug
include ../blocks/type-block/type-block.pug
include ../blocks/item-quantity/item-quantity.pug
include ../blocks/checkbox-list/checkbox-list.pug
include ../blocks/bullet-list/bullet-list.pug