// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       #1F2041;
$gray:                        rgba(31, 32, 65, 0.75);
$white:                       hsl(0, 0%, 100%);

$dark-shade-100:              rgba(31, 32, 65, 1);
$dark-shade-75:               rgba(31, 32, 65, 0.75);
$dark-shade-50:               rgba(31, 32, 65, 0.5);
$dark-shade-25:               rgba(31, 32, 65, 0.25);
$dark-shade-10:               rgba(31, 32, 65, 0.1);
$dark-shade-5:                rgba(31, 32, 65, 0.05);
$purple:                      #BC9CFF;
$green:                       #6FCF97;

$color-vk:                    #4a76a8;
$color-fb:                    #4267b2;
$color-tw:                    #40a2f5;
$color-gh:                    #24292e;

$color-main:                   $gray;

$linear-green:                linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$linear-purple:               linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

// Семантические цвета

$text-color:                  $dark-shade-75;
$text-title:                  $black;
$body-bg:                     $white;

$link-color:                  $dark-shade-50;
$link-color--hover:           darken($dark-shade-50, 15%);

$border-color:                $gray;



// Базовая типографика

$font-size:                   14px;

$font-size-h1:                24px;
$font-size-h2:                19px;
$font-size-h3:                12px;
$font-size-h4:                12px;
$font-size-h5:                12px;
$font-size-h6:                12px;

$font-size-sm:                0.75em; // 12px от 16px

$line-height-h1:              30px;
$line-height-h2:              24px;
$line-height-h3:              15px;
$line-height-var-2:           14px;
$line-height:                 24px;
$line-height--var:            17px;

$typo-margin-vertical:        1em;

$font-family:                 'montserrat';
$font-family--monospace:      'quicksand', 'opensans';
$font-family--bold:           'montserrat-Bold';
$font-family--quicksandbold:  'quicksand-Bold', 'opensans-Bold';
// Georgia, Times New Roman, Times, serif



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1800px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                $screen-lg - 30;
$container-xl:                $screen-xl - 30;
$container-xxl:               $screen-xxl - 30;



// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           30px;



// Разное

$field-padding-vertical:      5px;
$field-padding-horizontal:    12px;

$border-radius:               3px;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 2px -2px rgba(0, 0, 0, 0.3);

$menu-desktop-width:          $screen-lg;
$toggler-part-height:         3px;
$toggler-part-bg-color:       #000;

$z-index-modal:               100;


//шрифты

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat.ttf") format("truetype"),
       url("../fonts/montserrat.woff") format("woff"),
       url("../fonts/montserrat.woff2") format("woff2");
  font-style: normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "quicksand";
  src:  url("../fonts/quicksandregular.woff") format("woff"),
  url("../fonts/quicksandregular.tff") format("truetype"),
  url("../fonts/quicksandregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "quicksand-Bold";
  src:  url("../fonts/quicksandbold.woff") format("woff"),
  url("../fonts/quicksandbold.tff") format("truetype"),
  url("../fonts/quicksandbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}


@font-face {
  font-family: "opensans";
  src:  url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.tff") format("truetype"),
  url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "opensans-Bold";
  src:  url("../fonts/opensansbold.woff") format("woff"),
  url("../fonts/opensansbold.tff") format("truetype"),
  url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}